#page-header {
  align-items: stretch;
  height: 20vh;
  max-width: 100% !important;
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  background: linear-gradient(122.59deg, #57B6E5 0%, #8257E5 69.5%);
  color: #FFF;

  img {
    max-width: 50px;
    text-align: center;
    left: 40px;
    //margin-top: -110px;
    //width: 15rem !important;
  }
  @media (max-width: 450px){
    height: 19vh;
  }
  button{
    border: 0px;
    background: transparent;
  }

  .aside{
    padding-top: 10px;
  }

}

#page-form {
  align-items: stretch;
  max-width: 100% !important;
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-top: 20px;


  .aside {
    //flex: 7;
    padding-top: 80px;
    padding: 10px 80px;

    @media (max-width: 450px){
      img {
        width: 250px !important;
        margin-top: -80px !important;
        margin-left: -10px !important;
      }

    }

    strong {
      font: 700 36px 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    input{
      border-radius: 8px !important;
      font-size: 20px !important;
    }
    button{
      border-radius: 16px !important;
    }

    h5{
      color: #df0b0b;
      font-size: 1.0rem !important;
      text-align: left;
    }
    
  }

  @media (max-width: 450px){
    .aside {
      padding: 0px 15px!important;
    }
  }


  .separator {
    font-size: 14px;
    color: #FFF;

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: #FFF;
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: #FFF;
      margin-left: 16px;
    }
  }
}

@media (min-width: 1400px){
  .container {
    width: 100% !important;  
  }
}
