.modal-title-img{ 
    text-align: center;
    
    img{
      margin-right: 20.1rem !important;
      margin-left: 20.1rem !important;
    }
  }
  
  .modal-body{
    text-align: center !important;
  }
  
  .modal-footer{
    margin-right: auto !important;
    margin-left: auto !important;
    a{
      background-color: #8257E5;
    }
  }