@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --color-primary: #FF8400;
}

html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
    background-color: #f8f9fa ;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

.inlineList {
    display: flex;
    flex-direction: column;
    /* Below sets up your display method: flex-start|flex-end|space-between|space-around */
    justify-content: flex-start; 
    /* Below removes bullets and cleans white-space */
    list-style: none;
    padding: 0;
    /* Bonus: forces no word-wrap */
    white-space: nowrap;
    list-style: none;
    max-width:25rem;
  }

  .textareaanotacao{
    width: 100%;
    }

.multipla{
    flex-direction: column !important;
}

  @media (max-width: 1000px){
    .inlineList {
      flex-direction: column;
    }

    .textareaanotacao{
        width: 100%;
    }
  }

.question{
    margin: 0 0 0 .90rem;
}
